.grid-wrapper {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.6em;
  padding: 10px;
  margin-bottom: 10px;
}

.grid-wrapper li {
  display: flex;
  flex-direction: column;

  /* justify-content: center;
  align-items: center; */
  text-align: center;
  border: 1px solid var(--color-primary);
  padding: 5px;
}

.flex-wrapper {
  list-style-type: none;
  display: flex;
  gap: 0.6em;
  padding: 10px;
  margin-bottom: 10px;
}

.flex-wrapper li {
  border: 1px solid var(--color-primary);
  padding: 5px;
}

section {
  margin: 5px 8px 20px 10px;
}

.table-wrapper {
  overflow: auto;
  margin: 5px 8px 20px 10px;
}

table {
  border-collapse: collapse;
}

thead {
  background-color: var(--clr-pri-ts1);
  color: white;
  position: sticky;
}

tbody tr:nth-child(odd) {
  background-color: rgb(194 194 194);
}

tbody th {
  background-color: var(--clr-pri-ts2);
}

th,
td {
  padding: 10px;
  text-align: center;
}

/* recommended column */
td:nth-child(2) {
  background-color: yellow;
}

.cta-btn {
  width: 200px;
  height: 30px;
  color: white;
  background-color: var(--color-accent);
  text-decoration: none;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (width <= 480px) {
  .grid-wrapper {
    grid-template-columns: 1fr;
  }
}
